<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()" style="--color: var(--ion-color-primary)">Close</ion-button>
        </ion-buttons>
        <ion-title>
            Drinks
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let drink of drinks">
            <ng-container [ngSwitch]="drink.alcohol.type">
                <ion-icon *ngSwitchCase="'BEER'" size="large" class="item-icon" name="beer"></ion-icon>
                <ion-icon *ngSwitchCase="'WINE'" size="large" class="item-icon" name="wine" mode="ios"></ion-icon>
                <ion-icon *ngSwitchCase="'COCKTAIL'" size="large" class="item-icon" name="wine" mode="md"></ion-icon>
                <ion-icon *ngSwitchCase="'LIQUOR'" size="large" class="item-icon"
                          src="../../../assets/whiskey.svg"></ion-icon>
            </ng-container>
            <ion-label>
                <h2>{{ drink.alcohol.name }}</h2>
                <p>{{ drink.alcohol.percentage }}% - {{ drink.alcohol.amount }}ml</p>
            </ion-label>
            <p style="text-align: right; padding-right: 5vw">
                {{ drink.drankDate | date: 'dd.MM.yy HH:mm' }}
            </p>
        </ion-item>
    </ion-list>
</ion-content>
