<ion-grid>
  <ion-row>
    <ion-col class="border-col" [routerLink]="['/home']" justify-content-center align-items-center>
      <ion-icon name="home"></ion-icon>
    </ion-col>
    <ion-col class="border-col" [routerLink]="['/stats']" justify-content-center align-items-center>
      <ion-icon name="stats"></ion-icon>
    </ion-col>
    <ion-col class="border-col" [routerLink]="['/activity']" justify-content-center align-items-center>
      <ion-icon name="calendar"></ion-icon>
    </ion-col>
    <!--
    ToDo: Overlay over other component instead of having a router
    -->
    <ion-col [routerLink]="['/profile']" justify-content-center align-items-center>
      <ion-icon name="person"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>