.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: stretch;
  padding: 0 5% 5% 5%;
}

.button-container {
  padding: 5%;
  text-align: center;
}

.logo {
  padding: 5%;
  margin: auto;
  max-width: 45vw;
  height: auto;
}

ion-icon {
  margin-right: 4vw;
}
