<ion-header>
    <ion-toolbar color="dark">
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false" id="dashboardContent">
    <div class="background">
        <br>
        <app-header></app-header>
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let card of cards">
                    <ion-card (click)="onCardClick(card.type)" class="card">
                        <ion-card-content class="card-content">
                            <ion-icon *ngIf="card.title != 'Hard liquor'; else hardLiquorIcon" class="card-icon"
                                      size="large" [name]="card.iconName" [mode]="card.iconMode"></ion-icon>
                            <ng-template #hardLiquorIcon>
                                <ion-icon class="card-icon" size="large" src="../../../assets/whiskey.svg"></ion-icon>
                            </ng-template>
                            <h1 style="text-align: center">{{ card.title }}</h1>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<app-profile contentId="dashboardContent"></app-profile>
<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar color="dark" slot="bottom">
                <!--<ion-tab-button [routerLink]="['/home']">
                    <ion-icon name="home"></ion-icon>
                    <ion-label>Dashboard</ion-label>
                </ion-tab-button>-->
                <ion-tab-button [routerLink]="['/stats']">
                    <ion-icon name="stats"></ion-icon>
                    <ion-label>Statistics</ion-label>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/map']">
                    <ion-icon name="map"></ion-icon>
                    <ion-label>Map</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>
