<ion-header>
    <ion-toolbar color="dark">
        <ion-title slot="start">Dashboard</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onLogout()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
    <div id="background">
        <app-header></app-header>
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let card of cards">
                    <ion-card (click)="onCardClick(card.type)" class="card">
                        <ion-card-content class="card-content">
                            <ion-icon style="width: 8vh; height: 100%" size="large" [name]="card.iconName"
                                      [mode]="card.iconMode"></ion-icon>
                            <h1 style="text-align: center">{{ card.title }}</h1>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <app-profile></app-profile>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <app-menu></app-menu>
    </ion-toolbar>
</ion-footer>
