<ion-header>
    <ion-toolbar color="dark">
        <ion-title slot="start">Dashboard</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onLogout()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false" id="dashboardContent">
    <div class="background">
        <br>
        <app-header></app-header>
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let card of cards">
                    <ion-card (click)="onCardClick(card.type)" class="card">
                        <ion-card-content class="card-content">
                            <ion-icon class="card-icon"
                                      size="large" [name]="card.iconName" [mode]="card.iconMode"></ion-icon>
                            <h1 style="text-align: center">{{ card.title }}</h1>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<app-profile contentId="dashboardContent"></app-profile>
<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar color="dark" slot="bottom">
                <ion-tab-button [routerLink]="['/home']">
                    <ion-icon name="home"></ion-icon>
                    <ion-label>Dashboard</ion-label>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/stats']">
                    <ion-icon name="stats"></ion-icon>
                    <ion-label>Statistics</ion-label>
                </ion-tab-button>
                <ion-tab-button [routerLink]="['/calendar']">
                    <ion-icon name="calendar"></ion-icon>
                    <ion-label>Calendar</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="onOpenProfile()">
                    <ion-icon name="person"></ion-icon>
                    <ion-label>Me</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>
