<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot your password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="red">
    <div class="background">
        <div class="content">
            <ion-card>
                <ion-card-content style="color: black; background-color: white">
                    We will send a pin to your email to confirm your identity.
                </ion-card-content>
            </ion-card>
            <form [formGroup]="formRequest" (ngSubmit)="onSendRequest()">
                <ion-row>
                    <ion-col [size]="10">
                        <ion-item color="dark">
                            <ion-icon style="color:white" name="mail"></ion-icon>
                            <ion-input name="email" type="email" formControlName="email" placeholder="E-Mail"
                                       required></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col [size]="2">
                        <ion-button fill="solid" type="submit" color="medium">
                            <ion-icon [name]="hasSentEmail ? 'refresh' : 'send' "></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
            <div *ngIf="hasSentEmail">
                <ion-item-divider style="background: none"></ion-item-divider>
                <form [formGroup]="formUpdate" (ngSubmit)="onPasswordReset()">
                    <ion-row>
                        <ion-col [size]="10">
                            <ion-item color="dark">
                                <ion-icon style="color: white" name="lock"></ion-icon>
                                <ion-input name="password" type="password" formControlName="password"
                                           placeholder="New password"
                                           required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col [size]="6">
                            <ion-item color="dark">
                                <ion-icon style="color: white" name="key"></ion-icon>
                                <ion-input type="number" name="pin" formControlName="pin" placeholder="PIN"
                                           required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item-divider style="background: none"></ion-item-divider>
                    <ion-button expand="block" fill="solid" type="submit" color="danger">
                        Send
                    </ion-button>
                </form>
            </div>
        </div>
        <br>
    </div>
</ion-content>
