<ion-header>
    <ion-toolbar color="dark">
        <ion-back-button defaultHref="" slot="start"></ion-back-button>
        <ion-title>Forgot your password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="background">
    <div class="border-div">
        <ion-card>
            <ion-card-content class="card">
                We will send a pin to your email to confirm your identity.
            </ion-card-content>
        </ion-card>
        <br>
        <form [formGroup]="formRequest" (ngSubmit)="onSendRequest()">
            <div class="input-email-container">
                <ion-item color="dark" style="flex-grow: 2">
                    <ion-icon style="color: white" name="mail"></ion-icon>
                    <ion-input name="email" type="email" formControlName="email" placeholder="E-Mail"
                               required class="input"></ion-input>
                </ion-item>
                <ion-button fill="solid" type="submit" color="medium" style="margin-left: 5%">
                    <ion-icon [name]="hasSentEmail ? 'refresh' : 'send' "></ion-icon>
                </ion-button>
            </div>
        </form>
        <br>
        <div *ngIf="hasSentEmail">
            <form [formGroup]="formUpdate" (ngSubmit)="onPasswordReset()">
                <div>
                    <ion-item color="dark">
                        <ion-icon style="color: white" name="lock"></ion-icon>
                        <ion-input name="password" type="password" formControlName="password"
                                   placeholder="New password" required class="input"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item color="dark" style="width: 40%">
                        <ion-icon style="color: white" name="key"></ion-icon>
                        <ion-input type="number" name="pin" formControlName="pin" placeholder="PIN"
                                   required class="input"></ion-input>
                    </ion-item>
                </div>
                <br>
                <ion-button expand="block" fill="solid" type="submit">
                    Send
                </ion-button>
            </form>
        </div>
    </div>
</ion-content>
