.content {
  width: 95%;
  color: white;
  text-align: center;
  padding: 5%;
  height: 95vh;
}

p {
  margin-top: 10%;
  background: white;
  color: black;
}

ion-icon {
  margin-right: 2%;
}

a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

ion-item {
  margin-bottom: 8%;
  border-radius: 5%;
}

ion-input {
  border-radius: 5%;
}

ion-badge {
  opacity: 100%;
}

img {
  height: 200px;
  width: 200px;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

.background {
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.red {
  //ion-background-color: red;
  --ion-background-image: url("../../../assets/background.jpg") repeat;
}

ion-grid {
  margin-left: auto;
  margin-right: auto;
}
