<!-- id="menu-content" is need for the menu -->
<ion-menu side="end" type="overlay" menuId="profile" contentId="menu-content" id="menu-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-button (click)="close()">
                <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
            <ion-title>
                Profile
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
