// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

* {
  font-family: 'Exo 2', sans-serif !important;
}

/*
.background {
  background-image: url("assets/background3.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
*/

/*
.background-imgUrl {
  background-image: url("assets/background.jpg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
*/
