<!--TODO: Meaningful error messages
     Meaningful hints
     Thx Greis oder Hanna
     -->

<ion-header>
    <ion-toolbar>
        <ion-back-button></ion-back-button>
        <ion-title>
            Register
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="background">
            <div class="logo">
                <!--ion-img [src]="../../assets/logo_placeholder.png"></ion-img> -->
                <img src="../../assets/logo_placeholder.png" alt="logo">

            </div>
            <div class="content">
                <ion-item color="dark">
                    <ion-icon style="color:white" name="person"></ion-icon>
                    <ion-input name="username" formControlName="username" placeholder="Username" required></ion-input>
                    <!--
                    the ngIf will be activated if the form.controls."formControlName".errors?."Validator.type"
                    The form variable is found in the register.component.ts
                    With controls the access to all formControlNames is given
                    With the "formControlName" u can access the different formControl elements see formControlName="username"
                    Errors? access the errors if there are any
                    Validator.type is the validator type which is created in the FormBuilder.
                        the Validator must be created in the FormBuilder in order to use it
                    -->
                    <ion-badge color="danger" *ngIf="form.controls.username.errors?.required">Username is required
                    </ion-badge>
                </ion-item>
                <br>
                <ion-item color="dark">
                    <ion-icon style="color:white" name="mail"></ion-icon>
                    <ion-input name="email" formControlName="email" placeholder="E-Mail" required></ion-input>
                    <ion-badge color="danger" *ngIf="form.controls.email.errors?.required">E-Mail is required
                    </ion-badge>
                    <ion-badge color="danger" *ngIf="form.controls.email.errors?.pattern">No E-Mail</ion-badge>
                    <!--No pun intended-->
                    <ion-badge color="danger" *ngIf="form.controls.email.errors?.maxLength">E-Mail too long</ion-badge>
                </ion-item>
                <br>
                <ion-item color="dark" id="last">
                    <ion-icon style="color:white" name="lock"></ion-icon>
                    <ion-input name="password" formControlName="password" placeholder="Password" type="password"
                               required></ion-input>
                    <ion-badge color="danger" *ngIf="form.controls.password.errors?.required">Password is required
                    </ion-badge>
                    <ion-badge color="danger" *ngIf="form.controls.password.errors?.pattern">No Password</ion-badge>
                    <!--No pun intended-->
                    <ion-badge color="danger" *ngIf="form.controls.password.errors?.maxLength">Password too long
                    </ion-badge>
                </ion-item>
                <ion-note>Password must be 8-25 chars long and has to contain a capital letter and a number</ion-note>
                <br><br><br>
                <ion-button [disabled]="!form.valid" color="danger" expand="block" fill="solid" type="submit"
                            class="submit">Register
                </ion-button>
                <br>
                <a [routerLink]="['/login']">I already have an Account!</a>
            </div>
        </div>
    </form>
    <!-- <a [routerLink]="['/login']" id="alreadyAcc">I already have an Account!</a> -->
</ion-content>
